.overlay {
    z-index: 200;
    position: absolute;
    background-color: rgba(22,22,22, .5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay span {
    font-size: 8rem;
    color: var(--secondary-color);
}
