body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 15px;
}

.bold {
    font-weight: 800;
}

.highlight {
    filter: invert(1);
    padding: 0 4px;
    background-color: var(--secondary-color);
}

.green-font {
    color: var(--green-font);
}

.red-font {
    color: var(--red-font);
}
